
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    /* Background Image */
    background-image: url('images/1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;


    position: relative;
    margin: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #ffffff;
}


body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 0;
}

/* Form Container */
.container {
    position: relative;
    z-index: 1;

    background-color: rgba(45, 45, 45, 0.9);
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.5);
    width: 400px;
    border-top: 5px solid #ffcc00;
}

/* Title */
h2 {
    text-align: center;
    color: #ffcc00;
    margin-bottom: 20px;
}

/* Form Fields */
.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

/* Inputs */
input[type="text"],
input[type="email"],
input[type="number"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #444;
    background-color: #3d3d3d;
    color: white;
    border-radius: 6px;
    box-sizing: border-box;
}

/* Submit Button */
.btn-submit {
    width: 100%;
    padding: 12px;
    background-color: #ffcc00;
    border: none;
    color: #000;
    font-weight: bold;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 10px;
}

.btn-submit:hover {
    background-color: #e6b800;
}

/* Reset Button */
.btn-reset {
    width: 100%;
    padding: 10px;
    background-color: transparent;
    border: 1px solid #ffcc00;
    color: #ffcc00;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 10px;
}
